<!DOCTYPE html>
<html>
  <head>
    {% set STATIC_PREFIX = '/' %}
    <!--Import Google Icon Font-->
    <link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}static/css/googlefonts.css"  media="screen,projection"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}static/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% if title %}
    <title>{{ title }} - {{SiteNameString}} </title>
    {% else %}
    <title>Welcome to {{SiteNameString}} </title>
    {% endif %}

  </head>
  <body>
  <nav class="nav-extended teal ">
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s12 m4 l2">
                <a href="/" class="brand-logo">{{SiteNameString}}</a>
            </div>
            <div class="col s12 m4 l8 nav-wrapper focused">
                <form style="height:64px" action="{{ url_for('search') }}" method="POST">
                    <div class="input-field teal lighten-5 z-depth-2">
                        <input id="search" type="search" {% if query %} placeholder= "{{query}}" {% endif %} name="search" >
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/wiki">Search Innodex</a></li>
            </ul>
        </div>
    </div>

    <div class="nav-content">
        <ul class="tabs tabs-transparent">

    {% block content %}{% endblock %}


    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{{ STATIC_PREFIX }}static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}static/js/materialize.min.js"></script>


  </body>
    {% include 'footer.html' %}
</html>
