
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="images/sample-1.jpg">
        <span class="card-title">{{ developerName }}</span>
      </div>
      <div class="card-content">
        <p>Tools created by {{ developerName }}</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
      <div class="card-action">
        <a href="https://***REMOVED***/people?query={{ developerName }}">People Find</a>
      </div>
      <div class="card-action">
        <a href="https://https://***REMOVED***/sites/searchcenter/Pages/peopleresults.aspx?k={{ developerName }}">myNet</a>
      </div>

    </div>
  </div>
</div>

