{% extends "base.html" %}
{% block content %}


    {% for tab in tabs %}
    {% if pageIter %}
    {% else %}
        {% set pageIter = 1 %}
    {% endif %}
    {% if query%}
    {% else %}
        {% set query = 'all' %}
    {% endif %}
    <li class="tab">
        <a target="_self"•
           {% if tab.Name == serviceArea %} class="active" {% endif %}
            href="{{url_for(endpoint,serviceArea=tab.tab_href, developerName=developerName, page=pageIter)}}"
        >
        {{tab.Name}}
        </a></li>
    {% endfor %}
        </ul>
    </div>
  </nav>


<div class="row">
  <div class="col s12 m4 l3">
    <div class="card hoverable">
      <div class="card-image">
        <img src= "{{ STATIC_PREFIX }}static/images/developer.png">
        <span class="card-title white-text">{{ developerName }}<span>
      </div>
      <div class="card-content">
        <p>Reach {{ developerName}} via below link to feedback, press Like or say thanks :-) </p>
      </div>
      <div class="card-action">
        <a href="https://***REMOVED***/people?query={{ developerName }}">Find</a>
        <a href="https://***REMOVED***/sites/searchcenter/Pages/peopleresults.aspx?k={{ developerName }}">myNet</a>
      </div>
    </div>
  </div>
  <div class="col s12 m8 l9">
    {% include 'tools.html' %}
  </div>

</div>
{% endblock %}

