        <footer class="page-footer teal darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">About innoSearch</h5>
                <p class="grey-text text-lighten-4">Inno-Search [ɪnəˈsɜ:tʃ] </p>
                <p class="grey-text text-lighten-3">Elegant, Fast, Usable, innoSearch is yet another search engine for GSC China Lighthouse. You could search for any innovation components registered in Lighthouse internal ECN network here in a just-working way.</p>
                <p class="grey-text text-lighten-2"><a href="https://***REMOVED***/wiki/Innodex/InnoSearch">Read more.</a></p>

              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://***REMOVED***/wiki/Innodex">Guide</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://***REMOVED***:8780/lighthouse/tool/list.action">Lighthouse</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://***REMOVED***/wiki/Category:Innodex">innodex</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://inno-search.com/drive">innodex Drive</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://***REMOVED***/wiki/Category:Cloud_innodex">innodex: Cloud</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 ***REMOVED***
            <a class="grey-text text-lighten-4 right" href="https://***REMOVED***/#/threads/inGroup?type=in_group&feedId=11176854&view=all">Feedback</a>
            </div>
          </div>
        </footer>
